body {
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #16111a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  gap: 8vh;
}

.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2d2039;
  width: 70%;
  max-width: 380px;
  padding: 4vh;
  border-radius: 50px;
  height: 30%;
  max-height: 400px;
  position: relative;
  gap: 2vh;
}

.Container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2d2039;
  gap: 4vh;
  width: 80%;
  padding: 1vh;
  position: relative;
}

#Advice {
  color: #a638f6;
  font-size: 2vh;
}

#Text {
  font-size: 2.5vh;
  text-align: center;
}

.LineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#Line {
  width: 90%;
  height: auto;
}

#Group_1061 {
  background-color: #a638f6;
  padding: 3vh;
  border-radius: 50%;
  position: absolute;
  bottom: -4vh;
  cursor: pointer;
  transition: transform 0.2s;
}

#Group_1061:hover {
  background-color: gray;
  transform: scale(1.1);
}

.logo {
  width: 150px;
  height: auto;
  position: absolute; 
  top: -70px; 
}

@media (max-width: 600px) {
  .logo {
    width: 150px;
    top: -50px; 
  }

  #Advice {
    font-size: 2.5vh;
  }

  #Text {
    font-size: 2vh;
  }

  .Container {
    width: 60%;
    height: 25%;
  }

  #Group_1061 {
    padding: 2vh;
    bottom: -3vh;
  }
}

@media (min-width: 601px) {
  .logo {
    top: unset;
    bottom: -70px; 
  }
}
