body {
    color: white;
    background-color: #16111A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
.Container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #2D2039;
gap: 10px;
width: 22%;
padding: 50px;
margin: 100px;
border-radius: 50px;
position: relative;
}

#Advice {
    color: #A638F6;
    
}

#Text {
    font-size: 28px;
}

#Line {
    color: white;
}

#Group_1061 {
    background-color: #A638F6;
    padding: 30px;
    border-radius: 50%;
    position: absolute;
    top:470px;
    
}

#Group_1061 :hover {
background-color: gray;
}